<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome to Index PAGE!</h1>

<br>

<form>
    <input type="button" onclick="window.location.href = 'http://localhost:8080/user';" value="Show my info"/>
</form>

<br>

<form>
    <input type="button" onclick="window.location.href = 'http://localhost:8080/login';" value="Login"/>
</form>

<br>

<form>
    <input type="button" onclick="window.location.href = 'http://localhost:8080/logout';" value="Logout"/>
</form>

</body>
</html>